body {
  background-color: lightgray;
  width: 100%;
  font-family: verdana;
}

#maintext {
  margin: 0 auto;
  display: block;
  margin-top: 50px;
  text-align: center;
}

input {
  margin-top: 10px;
  border-radius: 0px;
  background-color: white;
  -webkit-box-shadow: 0 3px 5px #333;
    -moz-box-shadow: 0 3px 5px #333;
      box-shadow: 0 3px 5px #333;

}
@media (max-width: 400px) {
  body {
    padding: 5px;
  }
  #textbox { 
    width: 90%;
    height: 50px;
    font-size: 20px;
  }
  #submitbtn {
    height: 50px; 
  }
} @media (min-width: 401px){ 
  h2 {
  font-size: 50px;  
}
  body {
    padding: 30px;
  }
  #textbox{
    font-size: 80px; 
    max-width: 700px;
    height: 100px;

  }
  #submitbtn {
    height: 50px; 
    width: 100px;
    font-size: 20px;
  }
}

