body {
  background-color: lightgray;
  width: 100%
}

#maintext {
  margin: 0 auto;
  display: block;
  margin-top: 50px;
  text-align: center;
}

input {
  margin-top: 10px;
  border-radius: 0px;
  background-color: white;
  -webkit-box-shadow: 0 3px 5px #333;
    -moz-box-shadow: 0 3px 5px #333;
      box-shadow: 0 3px 5px #333;

}
#textbox{


}

